
  <!-- Navbar -->
  <nav class="navbar navbar-expand-lg bg-info fixed-top nav-down" color-on-scroll="500">
    <div class="container">
      <div class="navbar-translate">
        <a class="navbar-brand" [routerLink]="['']" rel="tooltip" data-placement="bottom">
          Ecommerce-Store
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navigation" aria-controls="navigation-index" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-bar bar1"></span>
          <span class="navbar-toggler-bar bar2"></span>
          <span class="navbar-toggler-bar bar3"></span>
        </button>
      </div>
      <div class="collapse navbar-collapse" data-nav-image="../assets/img/blurred-image-1.jpg" data-color="orange">
        <ul class="navbar-nav ml-auto">
         <div ngbDropdown class="d-inline-block" *ngIf="adminMenu==true">
      <button class="btn btn-danger" id="dropdownBasic1" ngbDropdownToggle>Manage Master Data</button>
      <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
        <button [routerLink]="['/company']" ngbDropdownItem>Manage Companies</button>
        <button [routerLink]="['/category']"  ngbDropdownItem>Manage Categories</button>
        <button [routerLink]="['/product']"  ngbDropdownItem>Manage Products</button>
                <button [routerLink]="['/productinventory']"  ngbDropdownItem>Manage Products Inventory</button>

        <button [routerLink]="['/permissions']"  ngbDropdownItem>Manage Permissions</button>
                <button [routerLink]="['/profile']"  ngbDropdownItem>Manage Profile</button>


      </div>
    </div>
  
          <li class="nav-item">
            <a *ngIf="userIdSession==null" class="btn btn-round btn-danger" [routerLink]="['/login']">
              Sign In
            </a>
              <a *ngIf="userIdSession!=null" class="btn btn-round btn-danger" style="color:white" (click)="SignOut()">
              Sign Out
            </a>
          </li>
          <!-- <li class="nav-item">
                    <a class="nav-link" rel="tooltip" title="Follow us on Twitter" data-placement="bottom" href="https://twitter.com/CreativeTim" target="_blank">
                        <i class="fab fa-twitter"></i>
                        <p class="hidden-lg-up">Twitter</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" rel="tooltip" title="Like us on Facebook" data-placement="bottom" href="https://www.facebook.com/CreativeTim" target="_blank">
                        <i class="fab fa-facebook-square"></i>
                        <p class="hidden-lg-up">Facebook</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" rel="tooltip" title="Follow us on Instagram" data-placement="bottom" href="https://www.instagram.com/CreativeTimOfficial" target="_blank">
                        <i class="fab fa-instagram"></i>
                        <p class="hidden-lg-up">Instagram</p>
                    </a>
                </li> -->
        </ul>
      </div>
    </div>
  </nav>
  <!-- End Navbar -->
<div class="section section-inputs permission-panel section-gray">
<h3 class="ml-5">Permissions Panel</h3>

<div class="container-fluid h-100 text-dark">
  
  <hr/>
  <div class="row justify-content-center align-items-center h-100">
    <div class="col col-sm-6 col-md-6 col-lg-4 col-xl-3">
      <form action="">
        <div class="form-group">
          <label class="">Select Role</label>
          <select class="form-control" (change)="ddroleChange($event)">
                    <option value="1">ROLE_ADMIN</option>
                    <option value="3">ROLE_SUB_ADMIN</option>
                    <option value="2">ROLE_USER</option>

                  </select>
        </div>
        
        
   

      </form>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6">
      <h4 class="text-center">UNASSIGN</h4>
    <div class="table-wrapper-scroll-y my-custom-scrollbar">
      <table class="table table-bordered unassign-table">
        <thead>
          <th>#</th>
                    <th>Permission</th>
                    <th>Assign | Select All 
                      <input type="checkbox" [(ngModel)]="masterSelected" name="list_name" value="m1" (change)="checkUncheckAll()"/>
                    </th>
        </thead>
        <tbody>
          <tr *ngFor="let permission of newPermissions; index as i">
            <td>{{i+1}}</td>
            <td>{{permission.name}}</td>
            <td><input type="checkbox" [(ngModel)]="permission.isSelected" name="list_name" value="{{permission.privilegeId}}" (change)="isAllSelected()"/>
            </td>
          </tr>
          
        </tbody>
      </table>

    </div>
    <div class="text-center"> 
      <button class="btn btn-success" (click)="AssignPermission()"><i class="fa fa-check check"></i> Assign Permsissions</button>

    </div>

    </div>
    <div class="col-md-6">
    <h4 class="text-center">ASSIGNED</h4>
    <div class="table-wrapper-scroll-y my-custom-scrollbar">
      <table class="table table-bordered table-striped">
        <thead>
          <th>#</th>
            <th>Permission</th>
                  
        </thead>
        <tbody>
     <tr *ngFor="let assignedPermission of assignedPermissions; index as i">
            <td>{{i+1}}</td>
            <td>{{assignedPermission.name}}</td>
          
          </tr>
          
        </tbody>
      </table>
    </div>
<div class="text-center"> 
      <button class="btn btn-danger" (click)="DeletePermissions()"><i class="fa fa-trash trash"></i> Delete Permsissions</button>

    </div>
    </div>
  </div>
</div>
</div>
  