.title-head button {
  float: right;
}
.status {
  background-color: #28a745;
  border-color: #28a745;
}

.status:hover {
  background-color: #28a745;
  border-color: #28a745;
}

.statusDA {
  background-color: #dc3545;
  border-color: #dc3545;
}

.statusDA:hover {
  background-color: #dc3545;
  border-color: #dc3545;
}

.subCat{
    font-size:8px;
    border-radius: 20px;
}
.subCatParent{
    padding:3px;
}