<!--     Fonts and icons     -->
  <link rel="apple-touch-icon" sizes="76x76" href="../assets/img//apple-icon.png">
  <link rel="icon" type="image/png" href="../assets/img//favicon.png">  
  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700,200" rel="stylesheet" />
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" rel="stylesheet">
   
 
<script type="text/javascript" charset="UTF-8" src="https://maps.googleapis.com/maps-api-v3/api/js/42/9/common.js"></script>
<script type="text/javascript" charset="UTF-8" src="https://maps.googleapis.com/maps-api-v3/api/js/42/9/util.js"></script>

<body class="{{class}} sidebar-collapse">
  <ng-http-loader></ng-http-loader>
  <!-- Navbar -->
  <nav *ngIf="route !== '/login' && route !== '/register'  && route !== '/orders' && route!=='/returnitems' && route!=='/rentalitems' && route !== '/payment' && route!=='/viewproducts' && route!=='/cart'  && route !== '/profile' && route !== '/productinventory' && route!=='/permissions' && route!=='/company' && route!=='/category' && route!=='/product'"  class="navbar navbar-expand-lg bg-white fixed-top nav-down navbar-transparent" color-on-scroll="500">
    <div class="container">
      <div class="navbar-translate">
        <a class="navbar-brand" [routerLink]="['']" rel="tooltip" data-placement="bottom">
          Ecommerce-Store
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navigation" aria-controls="navigation-index" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-bar bar1"></span>
          <span class="navbar-toggler-bar bar2"></span>
          <span class="navbar-toggler-bar bar3"></span>
        </button>
      </div>
      <div class="collapse navbar-collapse" data-nav-image="../assets/img/blurred-image-1.jpg" data-color="orange">
        <ul class="navbar-nav ml-auto">
          <li>
                      <ng-container>

  

  <ng-container *ngIf="categories.length> 0">
  
      <button (click)="goToProudcts()" class="btn btn-danger btn-round" #button mat-button [matMenuTriggerFor]="levelOne" #levelOneTrigger="matMenuTrigger" (mouseenter)="buttonEnter(levelOneTrigger)" (mouseleave)="buttonLeave(levelOneTrigger, button)">
     Products
    </button>  
    <mat-menu #levelOne="matMenu" direction="down" yPosition="below" [hasBackdrop]="false">
      <span (mouseenter)="menuenter()" (mouseleave)="menuLeave(levelOneTrigger, button)">
      <ng-container *ngFor="let childL1 of categories">
        <li class="p-0" *ngIf="!childL1.subCategories" mat-menu-item>
          <a class="nav-link">{{childL1.categoryType}}
            <i *ngIf="childL1.icon" [ngClass]="childL1.icon"></i>
          </a>
        </li>
        <ng-container *ngIf="childL1.subCategories && childL1.subCategories.length > 0">
          <li mat-menu-item #levelTwoTrigger="matMenuTrigger" [matMenuTriggerFor]="levelTwo">
            <span class="icon fa" [ngClass]="childL1.icon"></span>
            <span (click)="searchByCategory(childL1)">{{childL1.categoryType}}</span>
          </li>

          <mat-menu #levelTwo="matMenu">
            <span (mouseenter)="menu2enter()" (mouseleave)="menu2Leave(levelOneTrigger,levelTwoTrigger, button)">
            <ng-container *ngFor="let childL2 of childL1.subCategories">
              <li class="p-0" mat-menu-item>
                <a (click)="searchBySubCategory(childL2)" class="nav-link">{{childL2.subCategoryType}}
                  <i *ngIf="childL2.icon" [ngClass]="childL2.icon"></i>
                </a>
              </li>
            </ng-container>
            </span>
          </mat-menu>
        </ng-container>
      </ng-container>
      </span>
    </mat-menu>
  </ng-container>

</ng-container>


          </li>

         <div ngbDropdown class="d-inline-block" *ngIf="adminMenu==true">
      <button class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle>Manage Master Data</button>
      <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
        <button [routerLink]="['/company']" ngbDropdownItem>Manage Companies</button>
        <button [routerLink]="['/category']"  ngbDropdownItem>Manage Categories</button>
        <button [routerLink]="['/product']"  ngbDropdownItem>Manage Products</button>
                <button [routerLink]="['/productinventory']"  ngbDropdownItem>Manage Products Inventory</button>
                <button [routerLink]="['/rentalitems']"  ngbDropdownItem>Rental Items</button>
                <button [routerLink]="['/orders']"  ngbDropdownItem>Orders</button>
                <button [routerLink]="['/returnitems']"  ngbDropdownItem>Return Items</button>

        <button [routerLink]="['/permissions']"  ngbDropdownItem>Manage Permissions</button>
                <button [routerLink]="['/profile']"  ngbDropdownItem>Manage Profile</button>

      </div>
    </div>
  
          <li class="nav-item">
            <a *ngIf="userId==null" class="btn btn-round btn-danger" [routerLink]="['/login']">
              Sign In
            </a>
              <a *ngIf="userId!=null" class="btn btn-round btn-danger" style="color:white" (click)="SignOut()">
              Sign Out
            </a>
          </li>
          <!-- <li class="nav-item">
                    <a class="nav-link" rel="tooltip" title="Follow us on Twitter" data-placement="bottom" href="https://twitter.com/CreativeTim" target="_blank">
                        <i class="fab fa-twitter"></i>
                        <p class="hidden-lg-up">Twitter</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" rel="tooltip" title="Like us on Facebook" data-placement="bottom" href="https://www.facebook.com/CreativeTim" target="_blank">
                        <i class="fab fa-facebook-square"></i>
                        <p class="hidden-lg-up">Facebook</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" rel="tooltip" title="Follow us on Instagram" data-placement="bottom" href="https://www.instagram.com/CreativeTimOfficial" target="_blank">
                        <i class="fab fa-instagram"></i>
                        <p class="hidden-lg-up">Instagram</p>
                    </a>
                </li> -->
        </ul>
      </div>
    </div>
  </nav>
  <!-- End Navbar -->
<div *ngIf="route !== '/login' && route!=='/cart' && route!=='/returnitems' && route !== '/orders' && route!=='/rentalitems' && route !== '/payment'  && route!=='/viewproducts'   && route !== '/profile' && route !== '/productinventory'  && route !== '/register' && route!=='/permissions' && route!=='/company' && route!=='/category' && route!=='/product'" class="page-header" style="background-image: url('../assets/img/ecommerce/balmain_runway.jpg');">
    <div class="filter"></div>
    <div class="content-center">
      <div class="container text-center">
        <h1>Brace yourself!</h1>
        <h3>25% Off and Free global delivery for all products</h3>
      </div>
    </div>
  </div>
 
<router-outlet></router-outlet>

<footer *ngIf="route !== '/login' && route !== '/register'" class="footer">
    <div class="container">
      <div class="row">
        <nav class="footer-nav">
          <ul>
            <!-- <li><a href="https://www.creative-tim.com" target="_blank">Creative Tim</a></li>
            <li><a href="http://blog.creative-tim.com/" target="_blank">Blog</a></li>
            <li><a href="https://www.creative-tim.com/license" target="_blank">Licenses</a></li> -->
          </ul>
        </nav>
        <div class="credits ml-auto">
          <span class="copyright">
           Ecommerce Store © 2020-2021<script>
              document.write(new Date().getFullYear())
            </script>
          </span>
        </div>
      </div>
    </div>
  </footer>
  <!--   Core JS Files   -->
  <script src="../assets/js/core/jquery.min.js" type="text/javascript"></script>
  <script src="../assets/js/core/popper.min.js" type="text/javascript"></script>
  <script src="../assets/js/core/bootstrap.min.js" type="text/javascript"></script>
  <!--  Plugin for Switches, full documentation here: http://www.jque.re/plugins/version3/bootstrap.switch/ -->
  <script src="../assets/js/plugins/bootstrap-switch.js"></script>
  <!--  Plugin for the Sliders, full documentation here: http://refreshless.com/nouislider/ -->
  <script src="../assets/js/plugins/nouislider.min.js" type="text/javascript"></script>
  <!--  Plugin for the DatePicker, full documentation here: https://github.com/uxsolutions/bootstrap-datepicker -->
  <script src="../assets/js/plugins/moment.min.js"></script><!--    Plugin for Tags, full documentation here: https://github.com/bootstrap-tagsinput/bootstrap-tagsinputs  -->
  <script src="../assets/js/plugins/bootstrap-tagsinput.js"></script>
  <!--  Plugin for Select, full documentation here: http://silviomoreto.github.io/bootstrap-select -->
  <script src="../assets/js/plugins/bootstrap-selectpicker.js" type="text/javascript"></script>
  <!--  Plugin for Datetimepicker, full documentation here: https://eonasdan.github.io/bootstrap-datetimepicker/ -->
  <script src="../assets/js/plugins/bootstrap-datetimepicker.js" type="text/javascript"></script>
  <!--  Plugin for presentation page - isometric cards  -->
  <script src="../assets/js/plugins/presentation-page/main.js"></script>
  <!--  Vertical nav - dots -->
  <!--  Photoswipe files -->
  <script src="../assets/js/plugins/photo_swipe/photoswipe.min.js"></script>
  <script src="../assets/js/plugins/photo_swipe/photoswipe-ui-default.min.js"></script>
  <script src="../assets/js/plugins/photo_swipe/init-gallery.js"></script>
  <!--  for Jasny fileupload -->
  <script src="../assets/js/plugins/jasny-bootstrap.min.js"></script>
  <!-- Control Center for Paper Kit: parallax effects, scripts for the example pages etc -->
  <script src="../assets/js/paper-kit.js?v=2.3.1" type="text/javascript"></script>
  <!--  Google Maps Plugin    -->
  <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=YOUR_KEY_HERE"></script>
</body>
