  <!-- Navbar -->
  <nav class="navbar navbar-expand-lg bg-info fixed-top nav-down" color-on-scroll="500">
    <div class="container">
      <div class="navbar-translate">
        <a class="navbar-brand" [routerLink]="['']" rel="tooltip" data-placement="bottom">
          Ecommerce-Store
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navigation" aria-controls="navigation-index" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-bar bar1"></span>
          <span class="navbar-toggler-bar bar2"></span>
          <span class="navbar-toggler-bar bar3"></span>
        </button>
      </div>
      <div class="collapse navbar-collapse" data-nav-image="../assets/img/blurred-image-1.jpg" data-color="orange">
        <ul class="navbar-nav ml-auto">
         <div ngbDropdown class="d-inline-block" *ngIf="adminMenu==true">
      <button class="btn btn-danger" id="dropdownBasic1" ngbDropdownToggle>Manage Master Data</button>
      <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
        <button [routerLink]="['/company']" ngbDropdownItem>Manage Companies</button>
        <button [routerLink]="['/category']"  ngbDropdownItem>Manage Categories</button>
        <button [routerLink]="['/product']"  ngbDropdownItem>Manage Products</button>
        <button [routerLink]="['/productinventory']"  ngbDropdownItem>Manage Products Inventory</button>

        <button [routerLink]="['/permissions']"  ngbDropdownItem>Manage Permissions</button>
        <button [routerLink]="['/profile']"  ngbDropdownItem>Manage Profile</button>


      </div>
    </div>
  
          <li class="nav-item">
            <a *ngIf="userIdSession==null" class="btn btn-round btn-danger" [routerLink]="['/login']">
              Sign In
            </a>
              <a *ngIf="userIdSession!=null" class="btn btn-round btn-danger" style="color:white" (click)="SignOut()">
              Sign Out
            </a>
          </li>
          <!-- <li class="nav-item">
                    <a class="nav-link" rel="tooltip" title="Follow us on Twitter" data-placement="bottom" href="https://twitter.com/CreativeTim" target="_blank">
                        <i class="fab fa-twitter"></i>
                        <p class="hidden-lg-up">Twitter</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" rel="tooltip" title="Like us on Facebook" data-placement="bottom" href="https://www.facebook.com/CreativeTim" target="_blank">
                        <i class="fab fa-facebook-square"></i>
                        <p class="hidden-lg-up">Facebook</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" rel="tooltip" title="Follow us on Instagram" data-placement="bottom" href="https://www.instagram.com/CreativeTimOfficial" target="_blank">
                        <i class="fab fa-instagram"></i>
                        <p class="hidden-lg-up">Instagram</p>
                    </a>
                </li> -->
        </ul>
      </div>
    </div>
  </nav>
  <!-- End Navbar -->

  <div class="section section-inputs permission-panel section-gray">

<div class="container tim-container">
        <div class="title">
          <h3>Category Panel</h3>
        </div>
        <div class="row">
         
          <div class="col-md-12 ml-auto mr-auto">
            <div class="title-head">
              <h4 class="title"><small>Inventory List</small> 
            </h4>
            </div>
            <div class="table-responsive">
              <table id="tbl_product_inv" class="table">
                <thead>
                  <tr>
                    <th class="text-center">#</th>
                    <th>Company</th>
                    <th>Product</th>
                    <th>Size</th>
                    <th>Price</th>
                    <th>Fine Amount</th>
                    <th>Rental Days</th>
                    <th>Available Qty</th>

                    <th class="text-right">Actions</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let inv of productInv; index as i">
                    <td class="text-center">{{i+1}}</td>
                    <td>{{inv.companyName}}</td>
                    <td>{{inv.itemName}}</td>
                    <td>{{inv.itemSize}}</td>
                    <td>{{inv.itemPrice}}</td>
                    <td>{{inv.fineAmount}}</td>
                    <td>{{inv.rentalDays}}</td>
                    <td>{{inv.availableQuan}}</td>

                    <td class="td-actions text-right">
                        <button type="button" data-toggle="tooltip" data-placement="top" title="Update Qunatity" data-original-title="Add SubCategory"  class="btn btn-info btn-link btn-sm">
                        <i class="fa fa-plus-circle"></i>
                      </button>
                     
                  </tr>
              
                 
                </tbody>
              </table>
            </div>

            </div>
            </div>
            </div>
</div>
