.save-btn{
        margin-top: 28px;
}

.status {
  background-color: #28a745;
  border-color: #28a745;
}

.status:hover {
  background-color: #28a745;
  border-color: #28a745;
}

.statusDA {
  background-color: #dc3545;
  border-color: #dc3545;
}

.statusDA:hover {
  background-color: #dc3545;
  border-color: #dc3545;
}
