.save-btn{
        margin-top: 28px;
}

.status {
  background-color: #28a745;
  border-color: #28a745;
}

.status:hover {
  background-color: #28a745;
  border-color: #28a745;
}

.statusDA {
  background-color: #dc3545;
  border-color: #dc3545;
}

.statusDA:hover {
  background-color: #dc3545;
  border-color: #dc3545;
}
.itemDetails td,th{
  font-size: 14px !important;
}
.itemDetails th{
  font-weight: bold !important;
}
.title-head button {
  float: right;
}

.item img {
  max-width: 100%;
  height: auto;
}
.item {
  width: 120px;
  min-height: 120px;
  max-height: auto;
  float: left;
  margin: 3px;
  padding: 3px;
}