    <app-nav></app-nav>
    <div class="section section-gray">
      <div class="container">
        <h3 class="section-title">Find what you need</h3>
        <br>
        <div class="row">
          <div class="col-md-3">
            <div class="card card-refine">
              <div class="card-title text-center"><b>Categories</b></div>
              <div class="card-body">

                <ng-container *ngFor="let category of categories">

	<ng-container *ngIf="!category.subCategories">
		<a class="nav-link">
			<span class="icon fa fa-chevron-right"></span>
      <span class="text-holder">{{category.categoryType}}</span>
    </a>
  </ng-container>
  <ng-container *ngIf="category.subCategories.length > 0">
<button class="btn btn-link" #button mat-button [matMenuTriggerFor]="levelOne" #levelOneTrigger="matMenuTrigger" (mouseenter)="buttonEnter(levelOneTrigger)" (mouseleave)="buttonLeave(levelOneTrigger, button)">
      <span class="icon fa"></span>
      <span>{{category.categoryType}}
        <i class="fa fa-chevron-down"></i>
      </span>
    </button>    

    <mat-menu #levelOne="matMenu" direction="down" yPosition="below" [hasBackdrop]="false">
      <span (mouseenter)="menuenter()" (mouseleave)="menuLeave(levelOneTrigger, button)">
      <ng-container *ngFor="let childL1 of category.subCategories">
        <li class="p-0" *ngIf="!childL1.subCategories" mat-menu-item>
          <a class="nav-link" (click)="getItemWithSubCat(childL1)">{{childL1.subCategoryType}}
            <i *ngIf="childL1.icon" [ngClass]="childL1.icon"></i>
          </a>
        </li>
        <!-- <ng-container *ngIf="childL1.subCategories && childL1.subCategories.length > 0">
          <li mat-menu-item #levelTwoTrigger="matMenuTrigger" [matMenuTriggerFor]="levelTwo">
            <span class="icon fa" [ngClass]="childL1.icon"></span>
            <span>{{childL1.subCategoryType}}</span>
          </li>

          <mat-menu #levelTwo="matMenu">
            <span (mouseenter)="menu2enter()" (mouseleave)="menu2Leave(levelOneTrigger,levelTwoTrigger, button)">
            <ng-container *ngFor="let childL2 of childL1.subCategories">
              <li class="p-0" mat-menu-item>
                <a class="nav-link">{{childL2.subCategoryType}}
                  <i *ngIf="childL2.icon" [ngClass]="childL2.icon"></i>
                </a>
              </li>
            </ng-container>
            </span>
          </mat-menu>
        </ng-container> -->
      </ng-container>
      </span>
    </mat-menu>
  </ng-container>

</ng-container>







              </div>
            </div> <!-- end card -->
          </div>
          <div class="col-md-9">
            <div class="row">
              <div class="col-md-9">
                   <div class="form-group">
                <label>Search</label>
                <input type="text" #searchValue placeholder="Enter product name here" class="form-control">
                
            </div>
              </div>
              <div class="col-md-3">
                <div class="form-group" style="margin-top:27px;">
                  <button class="btn btn-success" (click)="onSearch(searchValue.value)">Search</button>

                </div>

              </div>
            </div>
         
            <div class="products">
              <div class="row">
                <div *ngFor="let item of items" class="col-md-4 col-sm-4">
                  <div class="card card-product card-plain">
                    <div class="card-image">
                      <a href="#paper-kit">
                        <img [src]="item.images[0].imagePath" alt="Rounded Image" class="img-rounded img-responsive">
                      </a>
                      <div class="row">
                        <div class="col-md-8">
   <div class="card-body">
                        <div class="card-description">
                          
                          <h5 class="card-title">{{item.itemName}} 
                             </h5>
                          <p class="card-description">{{item.categoryName}} 
                          </p>
                        </div>
                        <div class="price">
                          <h5>{{item.itemDetails[0].itemPrice}} $ 
                            </h5>
                        </div>
                      </div>
                        </div>
                        <div class="col-md-4">
                          <button title="Add to cart" class="btn btn-success btn-link" (click)="AddToCart(item,contentCart)"><i class="fa fa-cart-plus fa-2x"></i></button>
                        </div>
                      </div>
                   
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                  <div class="col-md-3 offset-md-4">
                      <ngb-pagination (pageChange)="onPageChange($event)" [collectionSize]="totalItems" [(page)]="page" [pageSize]="size"></ngb-pagination>
            <!-- <ngb-pagination [collectionSize]="items.length" #numPages [pageSize]="size" [(page)]="page" (pageChange)="onPageChange(page)"></ngb-pagination> -->
                  <!-- <button rel="tooltip" title="This is a morphing button" class="btn btn-round btn-outline-default" id="successBtn" data-toggle="morphing" data-rotation-color="gray">Load more...</button> -->
                </div>
              </div>
              
              </div>
            </div>
          </div>
        </div>
      </div>
  
  <!-- section -->


   <ng-template #contentCart let-modal>
  <form name="form">

  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Add To Cart</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
      <div class="form-group">
        <label for="size">Select Size</label>
        <select [(ngModel)]="form.size" #size="ngModel" id="size" class="form-control" placeholder="" (change)="onSizeChange($event)" name="size">
          <option value="null">Select Size</option>
          <option *ngFor="let itemDetail of itemDetails" [value]="itemDetail.itemDetailId">{{itemDetail.itemSize}}</option>
        </select>
      </div>
       <div class="form-group">
        <label for="price">Price</label>
          <input disabled id="price" class="form-control" placeholder="" name="price"  [(ngModel)]="form.price" #price="ngModel" required>
      </div>
       <div class="form-group">
        <label for="rentalDays">Rental Days</label>
          <input disabled id="rentalDays" class="form-control" placeholder="" name="rentalDays"  [(ngModel)]="form.rentalDays" #rentalDays="ngModel" required>
      </div>
       <div class="form-group">
        <label for="penaltyCharges">Penalty Charges</label>
          <input disabled id="penaltyCharges" class="form-control" placeholder="" name="penaltyCharges"  [(ngModel)]="form.penaltyCharges" #penaltyCharges="ngModel" required>
      </div>
         <div class="form-group">
        <label for="quantity">Quantity</label>
          <input type="number" id="quantity" class="form-control" placeholder="" name="quantity" (keyup)="onQuantityChange()"  [(ngModel)]="form.quantity" #quantity="ngModel" required>
      </div>
  
      <div class="form-group">
        <label>Select Rental Date Range</label>
<input  type="text" ngxDaterangepickerMd name="selected" [(ngModel)]="selected" class="form-control"/>

      </div>
      <input type="hidden" id="itemId" name="itemId" [(ngModel)]="form.itemId" #companyId="ngModel" required>
 
  
    </div>
  <div class="modal-footer">
          <button type="button" (click)="onCartSubmit()" class="btn btn-primary">Add</button>

  </div>
      </form>

</ng-template>