  <!-- Navbar -->
  <nav class="navbar navbar-expand-lg bg-info fixed-top nav-down" color-on-scroll="500">
    <div class="container">
      <div class="navbar-translate">
        <a class="navbar-brand" style="cursor: pointer;" (click)="GoToHome()" routerLinkActive="router-link-active"  rel="tooltip" title="Paper Kit 2 PRO" data-placement="bottom">
          Ecommerce-Store
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navigation" aria-controls="navigation-index" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-bar bar1"></span>
          <span class="navbar-toggler-bar bar2"></span>
          <span class="navbar-toggler-bar bar3"></span>
        </button>
      </div>
      <div class="collapse navbar-collapse" data-nav-image="../assets/img/blurred-image-1.jpg" data-color="orange">
        <ul class="navbar-nav ml-auto">

           <li>
                      <ng-container>

  

  <ng-container *ngIf="categories.length> 0">
  
      <button (click)="goToProudcts()" class="btn btn-danger btn-round" #button mat-button [matMenuTriggerFor]="levelOne" #levelOneTrigger="matMenuTrigger" (mouseenter)="buttonEnter(levelOneTrigger)" (mouseleave)="buttonLeave(levelOneTrigger, button)">
     Products
    </button>  
    <mat-menu #levelOne="matMenu" direction="down" yPosition="below" [hasBackdrop]="false">
      <span (mouseenter)="menuenter()" (mouseleave)="menuLeave(levelOneTrigger, button)">
      <ng-container *ngFor="let childL1 of categories">
        <li class="p-0" *ngIf="!childL1.subCategories" mat-menu-item>
          <a class="nav-link">{{childL1.categoryType}}
            <i *ngIf="childL1.icon" [ngClass]="childL1.icon"></i>
          </a>
        </li>
        <ng-container *ngIf="childL1.subCategories && childL1.subCategories.length > 0">
          <li mat-menu-item #levelTwoTrigger="matMenuTrigger" [matMenuTriggerFor]="levelTwo">
            <span class="icon fa" [ngClass]="childL1.icon"></span>
            <span (click)="searchByCategory(childL1)">{{childL1.categoryType}}</span>
          </li>

          <mat-menu #levelTwo="matMenu">
            <span (mouseenter)="menu2enter()" (mouseleave)="menu2Leave(levelOneTrigger,levelTwoTrigger, button)">
            <ng-container *ngFor="let childL2 of childL1.subCategories">
              <li class="p-0" mat-menu-item>
                <a (click)="searchBySubCategory(childL2)" class="nav-link">{{childL2.subCategoryType}}
                  <i *ngIf="childL2.icon" [ngClass]="childL2.icon"></i>
                </a>
              </li>
            </ng-container>
            </span>
          </mat-menu>
        </ng-container>
      </ng-container>
      </span>
    </mat-menu>
  </ng-container>

</ng-container>


          </li>

         <div ngbDropdown class="d-inline-block" *ngIf="adminMenu==true">
      <button class="btn btn-danger" id="dropdownBasic1" ngbDropdownToggle>Manage Master Data</button>
      <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
        <button [routerLink]="['/company']" ngbDropdownItem>Manage Companies</button>
        <button [routerLink]="['/category']"  ngbDropdownItem>Manage Categories</button>
        <button [routerLink]="['/product']"  ngbDropdownItem>Manage Products</button>
                <button [routerLink]="['/productinventory']"  ngbDropdownItem>Manage Products Inventory</button>

        <button [routerLink]="['/permissions']"  ngbDropdownItem>Manage Permissions</button>
                <button [routerLink]="['/profile']"  ngbDropdownItem>Manage Profile</button>


      </div>
    </div>
  
          <li class="nav-item">
            <a *ngIf="userIdSession==null" class="btn btn-round btn-danger" [routerLink]="['/login']">
              Sign In
            </a>
              <a *ngIf="userIdSession!=null" class="btn btn-round btn-danger" style="color:white" (click)="SignOut()">
              Sign Out
            </a>
          </li>

          <li>
               <button (click)="goToCart()" class="btn btn-danger btn-link">
     <i class="fa fa-shopping-cart" style="font-size:2em !important"></i>
    </button>  
          </li>
          <!-- <li class="nav-item">
                    <a class="nav-link" rel="tooltip" title="Follow us on Twitter" data-placement="bottom" href="https://twitter.com/CreativeTim" target="_blank">
                        <i class="fab fa-twitter"></i>
                        <p class="hidden-lg-up">Twitter</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" rel="tooltip" title="Like us on Facebook" data-placement="bottom" href="https://www.facebook.com/CreativeTim" target="_blank">
                        <i class="fab fa-facebook-square"></i>
                        <p class="hidden-lg-up">Facebook</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" rel="tooltip" title="Follow us on Instagram" data-placement="bottom" href="https://www.instagram.com/CreativeTimOfficial" target="_blank">
                        <i class="fab fa-instagram"></i>
                        <p class="hidden-lg-up">Instagram</p>
                    </a>
                </li> -->
        </ul>
      </div>
    </div>
  </nav>
  <!-- End Navbar -->
