  <!-- Navbar -->
  <nav class="navbar navbar-expand-lg bg-info fixed-top nav-down" color-on-scroll="500">
    <div class="container">
      <div class="navbar-translate">
        <a class="navbar-brand" style="cursor: pointer;" (click)="GoToHome()" routerLinkActive="router-link-active"  rel="tooltip" title="Paper Kit 2 PRO" data-placement="bottom">
          Ecommerce-Store
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navigation" aria-controls="navigation-index" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-bar bar1"></span>
          <span class="navbar-toggler-bar bar2"></span>
          <span class="navbar-toggler-bar bar3"></span>
        </button>
      </div>
      <div class="collapse navbar-collapse" data-nav-image="../assets/img/blurred-image-1.jpg" data-color="orange">
        <ul class="navbar-nav ml-auto">
         <div ngbDropdown class="d-inline-block" *ngIf="adminMenu==true">
      <button class="btn btn-danger" id="dropdownBasic1" ngbDropdownToggle>Manage Master Data</button>
      <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
        <button [routerLink]="['/company']" ngbDropdownItem>Manage Companies</button>
        <button [routerLink]="['/category']"  ngbDropdownItem>Manage Categories</button>
        <button [routerLink]="['/product']"  ngbDropdownItem>Manage Products</button>
                <button [routerLink]="['/productinventory']"  ngbDropdownItem>Manage Products Inventory</button>

        <button [routerLink]="['/permissions']"  ngbDropdownItem>Manage Permissions</button>
                <button [routerLink]="['/profile']"  ngbDropdownItem>Manage Profile</button>


      </div>
    </div>
  
          <li class="nav-item">
            <a *ngIf="userIdSession==null" class="btn btn-round btn-danger" [routerLink]="['/login']">
              Sign In
            </a>
              <a *ngIf="userIdSession!=null" class="btn btn-round btn-danger" style="color:white" (click)="SignOut()">
              Sign Out
            </a>
          </li>
          <!-- <li class="nav-item">
                    <a class="nav-link" rel="tooltip" title="Follow us on Twitter" data-placement="bottom" href="https://twitter.com/CreativeTim" target="_blank">
                        <i class="fab fa-twitter"></i>
                        <p class="hidden-lg-up">Twitter</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" rel="tooltip" title="Like us on Facebook" data-placement="bottom" href="https://www.facebook.com/CreativeTim" target="_blank">
                        <i class="fab fa-facebook-square"></i>
                        <p class="hidden-lg-up">Facebook</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" rel="tooltip" title="Follow us on Instagram" data-placement="bottom" href="https://www.instagram.com/CreativeTimOfficial" target="_blank">
                        <i class="fab fa-instagram"></i>
                        <p class="hidden-lg-up">Instagram</p>
                    </a>
                </li> -->
        </ul>
      </div>
    </div>
  </nav>
  <!-- End Navbar -->
